root {
    display: block;
}
.background {
    -fx-background-color: rgba(0, 17, 61, 0.0);
}
.button {
    -fx-background-color: transparent;
    -fx-opacity: 87%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.toggle-button {
    -fx-background-color: transparent;

}

.connect-toggle {
    -fx-graphic: url('../elements/access-point-disconnected.png');
}

.connect-toggle:selected {
    -fx-graphic: url('../elements/access-point-connected.png');
}

.filter-toggle {
    -fx-graphic: url('../elements/filter.png');
}