/*
 * This file is part of TruffleHog.
 *
 * TruffleHog is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TruffleHog is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TruffleHog.  If not, see <http://www.gnu.org/licenses/>.
 */

.background {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.title_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 130%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.body_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 110%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.error_text {
    -fx-fill: red;
    -fx-opacity: 100%;
    -fx-font-size: 110%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.text {
    -fx-fill: #282C34;
    -fx-opacity: 100%;
    -fx-font-size: 100%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.line_underline {
    -fx-stroke: #528BFF;
}

.button {
    -fx-background-color: #528BFF;
}
