/*
 * This file is part of TruffleHog.
 *
 * TruffleHog is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TruffleHog is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TruffleHog.  If not, see <http://www.gnu.org/licenses/>.
 */

root {
    display: block;
}

.overlaybackground {
    -fx-background-color: #000000;
    -fx-opacity: 100%;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.text {
    -fx-fill: white;
    -fx-opacity: 80%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

.title_text {
    -fx-fill: white;
    -fx-opacity: 100%;
    -fx-font-size: 130%;
    -fx-font-weight: 130;
    -fx-font-family: 'Droid Sans';
}

.tab-pane {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.tab {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
}

.tab-pane:selected {
    -fx-fill: #528BFF;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #21252B;
    -fx-opacity: 100%;
}