/*
 * This file is part of TruffleHog.
 *
 * TruffleHog is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TruffleHog is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TruffleHog.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 *
 * This file contains the entire css of TruffleHog.
 *
 *
 * --------------------------------------------------------------------------------------------------------------------
 * ---------------------------------------------- GENERAL LAYOUT ------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
root {
    display: block;
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------- TRUFFLEHOG TOOLBAR ---------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.th_toolbar_background {
    -fx-background-color: transparent;
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------- LOCAL SETTINGS MENU  -------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.local_settings_background {
    -fx-background-color: #000000;
    -fx-opacity: 95%;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.local_settings_title_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 130%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * ------------------------------------------------ FILTER MENU -------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.filter_menu_background {
    -fx-background-color: #21252B;
    -fx-opacity: 95%;
    -fx-background-radius: 2;
}

#filter_menu_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * ---------------------------------------------- FILTER EDIT MENU ----------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.filter_edit_background {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-background-radius: 0 0 2 2;
    -fx-border-radius: 0 0 2 2;
    -fx-focus-color: #528BFF;
}

.filter_edit_title_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 130%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.filter_edit_body_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 110%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.filter_edit_error_text {
    -fx-fill: red;
    -fx-opacity: 100%;
    -fx-font-size: 110%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.filter_edit_line_underline {
    -fx-stroke: #9BA2B1;
}

.filter_edit_button {
    -fx-background-color: #282C34;
    -fx-border-color: #9BA2B1;
    -fx-border-radius: 5;
    -fx-text-fill: #9BA2B1;
}

/* --------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------- RECORD MENU -----------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.record_menu_background {
    -fx-background-color: #21252B;
    -fx-opacity: 95%;
    -fx-background-radius: 2;
}

#record_timer {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * ------------------------------------------------- PLAYBACK MENU ----------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.playback_menu_background {
    -fx-background-color: #21252B;
    -fx-opacity: 95%;
    -fx-background-radius: 2;
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------- MAIN VIEW ------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.main_view_background {
    -fx-background-color: #21252B;
    -fx-opacity: 100%;
    -fx-background-radius: 1000;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: #528BFF;
    -fx-focus-color: transparent;
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------- START VIEW -----------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.start_view_background {
    -fx-background-color: #21252B;
    -fx-opacity: 100%;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-focus-color: #528BFF;
}

#start_view_title_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 150%;
    -fx-font-size: 200%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

#start_view_sub_title_text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 120%;
    -fx-font-weight: 200;
    -fx-font-family: 'Droid Sans';
}

.start_view_list-view_right {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-focus-color: #528BFF;
    -fx-border-color: #21252B;
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
}

.start_view_list-view_left {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-focus-color: #528BFF;
    -fx-border-color: #21252B;
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
}
.start_view-split-pane {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-focus-color: #528BFF;
    -fx-border-color: #21252B;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.start_view-split-pane .split-pane-divider {
    -fx-padding: 0;
    -fx-border-color:  #21252B;
    -fx-background-color: #21252B;
    -fx-background-insets: 0, 1 0 1 0;;
}

.start_view-split-pane .list-view .list-cell:filled:selected:focused {
    -fx-text-fill: #528BFF;
}

.start_view-split-pane .list-view .list-cell {
    -fx-background-color: #282C34;
    -fx-text-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------- MENU BAR -------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.menu-bar {
    -fx-background-color: #21252B;
    -fx-opacity: 100;
}

.menu {
    -fx-accent: #528BFF;
    -fx-focus-color: #528BFF;
}


.menu .label {
    -fx-text-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

.menu:showing .label {
    -fx-text-fill: #21252B;
}

.menu-item .label {
    -fx-text-fill: #21252B;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------- TABLE VIEW ------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.table-view {
    -fx-background-color:#282C34;
    -fx-opacity: 95%;
    -fx-background-insets: 0, 0, 0;
    -fx-padding: 1;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-focus-color: transparent;
}

.table-view > .column-header-background > .nested-column-header > .column-header.table-column {
    -fx-background-color: #21252B;
}

.table-view:focused{
    -fx-focus-color: transparent;
}

.table-row-cell:selected .text {
    -fx-fill: #528BFF;
}

.table-column {
    -fx-background-color:#282C34;
    -fx-opacity: 100%;
    -fx-accent: #528BFF;
}

.table-view .text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------- TAB PANE --------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.tab-pane {
    -fx-background-color: #282C34;
    -fx-opacity: 95%;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.tab-pane .text {
    -fx-fill: #9BA2B1;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

.tab {
    -fx-background-color: #282C34;
    -fx-opacity: 95%;
    -fx-focus-color: #528BFF;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #21252B;
    -fx-opacity: 95%;
}

/* --------------------------------------------------------------------------------------------------------------------
 * ------------------------------------------------- COLOR PICKER -----------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.color-picker .text {
    -fx-fill: black;
    -fx-opacity: 100%;
    -fx-font-size: 90%;
    -fx-font-weight: 100;
    -fx-font-family: 'Droid Sans';
}

/* --------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------- COMBO BOX -------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #528BFF;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #528BFF;
    -fx-text-fill: white;
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------- SLIDER ---------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.slider {
    -fx-control-inner-background: #9BA2B1;
    -fx-border-radius: 0;
}

.slider .track {
    -fx-control-inner-background: #9BA2B1;
    -fx-background-color: #9BA2B1;
    -fx-max-width: 1;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-scale-y: 0.1;
}

.slider .thumb {
    -fx-background-color: #9BA2B1;
    -fx-border-radius: 0;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}

/* --------------------------------------------------------------------------------------------------------------------
 * --------------------------------------------------- SPLIT PANE -----------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.split-pane {
    -fx-background-color: #282C34;
    -fx-opacity: 100%;
    -fx-focus-color: #528BFF;
    -fx-border-color: #21252B;
}

.split-pane *.horizontal-grabber {
    -fx-background-color: transparent, transparent;
}

/* --------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------- SCROLLBAR -------------------------------------------------------
 * --------------------------------------------------------------------------------------------------------------------
 */
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color:transparent;

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal:hover .track,
.scroll-bar:horizontal:pressed .track,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
    -fx-background-color:derive(#f2f2f2,0%);
    /*-fx-background-color: derive(#434343,70%);*/
    -fx-opacity: 1;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.increment-button:hover ,.decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%);
    -fx-padding:10px;
}